/* App.css */
.App {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #777; /* Dark background color for the entire app */
    color: #fff; /* Light text color */
  }
  
  nav {
    background-color: #333; /* Dark background color for the navigation */
    color: #fff; /* Light text color */
    padding: 10px;
    border-bottom: 1px solid #555;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul li {
    display: inline;
    margin-right: 20px;
  }
  
  ul li a {
    text-decoration: none;
    color: #fff;
  }
  
  ul li a:hover {
    color: #007BFF; /* Link color on hover */
  }
  
  .Routes {
    padding: 20px;
  }
  
  /* Define dark theme styles for your components, as needed */
  